{% extends "base.html" %}
{% load static %}

{% block page_title %}Add New Product{% endblock %}
{% block css_files%}
    <link rel="stylesheet" href="{% static 'css/apps/form.css' %}">
{% endblock %}

{% block content %}
    <div class="container-fluid">

        <!-- ================= HEADER ================= -->
        <div class="d-flex justify-content-between align-items-center mb-4">
            <div>
                <h3 class="fw-bold mb-1">Add New Product</h3>
                <small class="text-muted">Create and manage inventory items</small>
            </div>
            <a href="{% url 'product_list' %}" class="btn btn-secondary">
            View Products List 
        </a>
        </div> 


        <!-- ================= FORM START ================= -->
        <form method="post" id="productForm">
            {% csrf_token %}

            <div class="row g-4">

                <!-- ================= LEFT COLUMN ================= -->
                <div class="col-lg-7">

                    <div class="card custom-card p-4">
                        <h5 class="section-title mb-4">Product Information</h5>

                        <div class="mb-3">
                            <label class="form-label">Product Name</label>
                            {{ form.name }}
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label class="form-label">SKU</label>
                                {{ form.sku }}
                            </div>

                            <div class="col-md-6 mb-3">
                                <label class="form-label">Category</label>
                                {{ form.category }}
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Description</label>
                            {{ form.description }}
                        </div>

                        <div class="form-check form-switch mt-3">
                            {{ form.is_active }}
                            <label class="form-check-label ms-2">
                                Active Product
                            </label>
                        </div>

                    </div>
                    <div class="error-msg text-danger">
                            {% for errors in form.errors.values %}
                                {% for error in errors %}
                                    {{ error }}
                                {% endfor %}
                            {% endfor %}
                        </div>

                </div>


                <!-- ================= RIGHT COLUMN ================= -->
                <div class="col-lg-5">

                    <div class="card custom-card p-4 pricing-card border-left">
                        <h5 class="section-title mb-4">Pricing & Stock</h5>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label class="form-label">Cost Price</label>
                                {{ form.current_avg_cost }}
                            </div>

                            <div class="col-md-6 mb-3">
                                <label class="form-label">Selling Price</label>
                                {{ form.selling_price }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label class="form-label">Initial Stock</label>
                                {{ form.current_stock }}
                            </div>

                            <div class="col-md-6 mb-3">
                                <label class="form-label">Unit Type</label>
                                {{ form.unit }}
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Reorder Level</label>
                            {{ form.reorder_level }}
                        </div>
                        
                    </div>
                    
                    <!-- ================= SUBMIT SECTION ================= -->
                    <div class="submit-section">
                        <a href="" class="btn btn-outline-secondary">
                            Cancel
                        </a>
                        <button type="submit" class="btn btn-primary">
                            Add Product
                        </button>
                    </div>

                </div>

            </div>

        </form>

    </div>
    
{% endblock %}

