{% extends "base.html" %}
{% load static %}

{% block page_title %}Stock Movements List{% endblock %}
{% block css_files%}
    <link rel="stylesheet" href="{% static 'css/apps/list.css' %}">
{% endblock %}

{% block content %}

<div class="container-fluid">

    <!-- PAGE HEADER -->
    <div class="d-flex justify-content-between align-items-center mb-4">
        <div>
            <h3 class="section-title mb-0">Stock Movements</h3>
            <small class="text-muted">Track all stock changes including purchases, sales, and adjustments</small>
        </div>

        {% comment %} <a href="{% url 'create_sale' %}" class="btn btn-secondary">
            + Create Sale
        </a> {% endcomment %}
    </div>


    <!-- FILTER BAR -->
    <div class="mb-4 p-3">
        <div class="row g-3">

            <div class="col-md-4">
                <input type="text"
                       class="form-control"
                       placeholder="Search...">
            </div>

            <div class="col-md-3">
                <input type="date" class="form-control">
            </div>

            <div class="col-md-2">
                <button class="btn btn-soft w-100">
                    Filter
                </button>
            </div>

        </div>
    </div>


    <!--  TABLE -->
    <div class="">

        <div class="table-responsive">

            <table class="table table-hover align-middle data-table mb-0">

                <thead>
                    <tr>
                        <th>#</th>
                        <th>Product</th>
                        <th>Date</th>
                        <th>transaction Type</th>
                        <th>Change (Qty)</th>
                        <th>Stock Before</th>
                        <th>Stock After</th>
                    </tr>
                </thead>

                <tbody>

                    {% for movement in stock_movements %}

                    {% comment %} <tr class="clickable-row" data-url="{% url 'sale_detail' sale.id %}"> {% endcomment %}

                        <td>{{ forloop.counter }}</td>

                        <td>
                            {{ movement.product.name }}
                        </td>

                        <td>{{ movement.created_at|date }}</td>

                        <td>
                            {{ movement.get_transaction_type_display }}
                        </td>

                        <td class="{% if movement.quantity_change > 0 %}text-success{% elif movement.quantity_change < 0 %}text-danger{% endif %}">
                             {{ movement.quantity_change }} {{ movement.product.get_unit_display }}
                        </td>

                        <td class="">
                             {{ movement.before_quantity }} {{ movement.product.get_unit_display }}
                        </td>

                        <td class="">
                             {{ movement.after_quantity }} {{ movement.product.get_unit_display }}
                        </td>
                        
                    </tr>
                

                    {% empty %}

                    <tr>
                        <td colspan="7" class="text-center py-4 text-muted">
                            No sales recorded
                        </td>
                    </tr>

                    {% endfor %}

                </tbody>

            </table>

        </div>

    </div>

</div>

{% endblock %}