{% extends "base.html" %}
{% load static %}

{% block page_title %}Stock Movements{% endblock %}
{% block css_files%}
    <link rel="stylesheet" href="{% static 'css/apps/list.css' %}">
{% endblock %}

{% block content %}

<div class="container-fluid card-bg gap-bottom">

    <!-- PAGE HEADER -->
    <div class="d-flex justify-content-between align-items-center mb-4">
        <div>
            <h3 class="section-title mb-0">Stock Movements</h3>
            <small class="text-muted">Track all stock changes including purchases, sales, and adjustments</small>
        </div>

        {% comment %} <a href="{% url 'create_sale' %}" class="btn btn-secondary">
            + Create Sale
        </a> {% endcomment %}
    </div>


    <!-- FILTER BAR -->
    <div class="mb-4 p-3">
        <div class="row g-3">

            <div class="col-md-4">
                <input type="text" id="search_field"
                       class="form-control form-control-sm"
                       placeholder="Search...">
            </div>

            <div class="col-md-3">
                <input id="date_field" type="date" class="form-control form-control-sm">
            </div>

            <div class="col-md-2">
                <button id="reset_filters" class="btn btn-sm btn-light border w-100">
                    Reset Filters
                </button>
            </div>

            <div id="searchLoader" class="ms-2 mt-3 d-flex align-items-center d-none">
                <div class="spinner-border spinner-border-sm text-primary me-2" role="status"></div>
                <small class="text-muted">Loading...</small>
            </div>

        </div>
    </div>


    <!--  TABLE -->
    <div class="">

        <div class="table-responsive">

            <table class="table table-hover align-middle data-table mb-0">

                <thead>
                    <tr>
                        <th>#</th>
                        <th>Product</th>
                        <th>Date</th>
                        <th>transaction Type</th>
                        <th>Change (Qty)</th>
                        <th>Stock Before</th>
                        <th>Stock After</th>
                    </tr>
                </thead>

                <tbody id="tbody">

                    {% for movement in stock_movements %}

                    {% comment %} <tr class="clickable-row" data-url="{% url 'sale_detail' sale.id %}"> {% endcomment %}

                        <td>{{ forloop.counter }}</td>

                        <td>
                            {{ movement.product.name }}
                        </td>

                        <td>{{ movement.created_at|date }}</td>

                        <td>
                            {{ movement.get_transaction_type_display }}
                        </td>

                        <td class="{% if movement.quantity_change > 0 %}text-success{% elif movement.quantity_change < 0 %}text-danger{% endif %}">
                             {{ movement.quantity_change }} {{ movement.product.get_unit_display }}
                        </td>

                        <td class="">
                             {{ movement.before_quantity }} {{ movement.product.get_unit_display }}
                        </td>

                        <td class="">
                             {{ movement.after_quantity }} {{ movement.product.get_unit_display }}
                        </td>
                        
                    </tr>
                

                    {% empty %}

                    <tr>
                        <td colspan="7" class="text-center py-4 text-muted">
                            No sales recorded
                        </td>
                    </tr>

                    {% endfor %}

                </tbody>

            </table>

        </div>

    </div>

<!-- BOTTOM PAGINATION BAR -->

<div id="paginationBar" class="d-flex justify-content-between align-items-center mt-4 px-2 flex-wrap gap-3">

    <!-- PAGE INFO -->
    <div class="text-muted small">
        Page <span id="currentPage">1</span> of
        <span id="totalPages">{{ total_pages }}</span>
    </div>

    <!-- CONTROLS -->
    <div class="d-flex align-items-center gap-2">


        <button id="prevPageBtn" class="btn btn-sm btn-light border">
            ‹
        </button>

        <span class="px-3 py-1 rounded bg-primary text-white small fw-semibold">
            <span id="activePage">1</span>
        </span>

        <button id="nextPageBtn" class="btn btn-sm btn-light border">
            ›
        </button>

    </div>

</div>

</div>

{% endblock %}

{% block scripts %}
    <script type="module" src="{% static 'js/inventory/stock_movements_filters.js' %}"></script>
    {% comment %} <script type="module" src="{% static 'js/inventory/stock_movements.js' %}"></script> {% endcomment %}
{% endblock %}