
<!-- ===============================
    NAVBAR
=================================-->
<nav class="navbar custom-navbar d-flex justify-content-between align-items-center">

    <div class="d-flex align-items-center gap-4">
        <a class="navbar-brand" href="#">SalesAnalytics</a>
        <h5 class="mb-0 fw-semibold text-muted"></h5>
    </div>

    <div class="d-flex align-items-center gap-4">

        {% comment %} <input type="text" class="form-control search-input w-50" placeholder="Search here..."> {% endcomment %}

        <span class="text-muted" id="nav-date"></span>

        <div class="dropdown">
        <button class="btn admin-btn dropdown-toggle d-flex align-items-center gap-2"
                data-bs-toggle="dropdown"
                aria-expanded="false">
            <div class="avatar">A</div>
            <span>Admin</span>
        </button>

        <ul class="dropdown-menu dropdown-menu-end custom-dropdown shadow-sm">
            <li class="px-3 py-2 border-bottom">
                <div class="fw-semibold">Abhishek</div>
                <small class="text-muted">admin@company.com</small>
            </li>
            <li class="pt-2">
                <a class="dropdown-item" href="#">
                    Profile
                </a>
            </li>
            <li>
                <a class="dropdown-item" href="#">
                    Settings
                </a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
                <a class="dropdown-item text-danger" href="#">
                    Logout
                </a>
            </li>
        </ul>
    </div>

    </div>

</nav>