
<!-- ===============================
    NAVBAR
=================================-->
<nav class="navbar custom-navbar d-flex justify-content-between align-items-center shadow-1">

    {% comment %} <div>
        <h3 class="page-title mb-0">{{ page_title }}Dashboard</h3>
    </div> {% endcomment %}

        <div class="">
        <a href="{% url 'dashboard' %}" class="brand-logo">
            <span class="text-dark">Biz</span>Metric
        </a>
    </div>

    <div class="d-flex align-items-center gap-4">

        {% comment %} <input type="text" class="form-control search-input w-50" placeholder="Search here..."> {% endcomment %}

        <span class="text-muted" id="nav-date"></span>

        <!-- User badge -->
        {% if user.is_authenticated %}
            <div class="dropdown">
                <button class="btn admin-btn dropdown-toggle d-flex align-items-center gap-2"
                        data-bs-toggle="dropdown"   
                        aria-expanded="false">
                    <div class="avatar">{{ user.first_name|default:user.email|slice:':1'|upper }}</div>
                    <span>{{ user.first_name }}</span>
                </button>

                <ul class="dropdown-menu dropdown-menu-end custom-dropdown shadow-sm">
                    <li class="px-3 py-2 border-bottom">
                        <div class="fw-semibold">{{ user.first_name }} {{ user.last_name }} {% if user_role %}({{ user_role|title }}) {% endif %}</div>
                        
                        <small class="text-muted">{{ user.email }}</small>
                    </li>

                    <li class="pt-2">
                        <a class="dropdown-item" href="{% url 'select_business' %}#">
                            Change Business
                        </a>
                    </li>

                    <li class="pt-2">
                        <a class="dropdown-item" href="{% url 'create_business' %}#">
                            Create Business
                        </a>
                    </li>

                    {% if user_role == 'admin' %}
                    <li>
                        <a class="dropdown-item" href="{% url 'manage_users' %}">
                            Manage Users
                        </a>
                    </li>

                    {% endif %}
                    
                    <li class="pt-2">
                        <a class="dropdown-item" href="{% url 'profile' %}#">
                            Profile
                        </a>
                    </li>
                    
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <a class="dropdown-item text-danger" href="{% url 'signout' %}">
                            Logout
                        </a>
                    </li>
                </ul>
            </div>
        {% else %}
            <div>
                <a class="btn btn-primary me-2" href="{% url 'signin' %}">Sign In</a>
                <a class="btn btn-outline-primary" href="{% url 'signup' %}">Sign Up</a>
            </div>
        {% endif %}

    </div>

</nav>