<!-- SIDEBAR -->
<ul class="nav flex-column sidebar-nav">

    <!-- Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="#">
            Dashboard
        </a>
    </li>


    <!-- SALES -->
    <li class="nav-item">

        <a class="nav-link d-flex justify-content-between align-items-center active"
        data-bs-toggle="collapse"
        href="#salesMenu"
        role="button">

            Sales
            <span class="arrow">▾</span>
        </a>

        <div class="collapse" id="salesMenu">
            <ul class="nav flex-column sub-menu">

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'create_sale' %}">
                        Create Sale
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'sales_list' %}">
                        Sales List
                    </a>
                </li>

            </ul>
        </div>

    </li>


    <!-- INVENTORY -->
    <li class="nav-item">

        <a class="nav-link d-flex justify-content-between align-items-center"
        data-bs-toggle="collapse"
        href="#inventoryMenu">

            Inventory
            <span class="arrow">▾</span>
        </a>

        <div class="collapse" id="inventoryMenu">
            <ul class="nav flex-column sub-menu">

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'add_product' %}">
                        Add Products
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'product_list' %}">
                        Product List
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'product_categories' %}">
                        Product Categories
                    </a>
                </li>

            </ul>
        </div>

    </li>


    <!-- Expense -->
    <li class="nav-item">

        <a class="nav-link d-flex justify-content-between align-items-center"
        data-bs-toggle="collapse"
        href="#financeMenu">

            Expense
            <span class="arrow">▾</span>
        </a>

        <div class="collapse" id="financeMenu">
            <ul class="nav flex-column sub-menu">
                
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'add_expense' %}">
                        Add Expense
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'expense_categories' %}">
                        Expense Categories
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'expense_list' %}">
                        Expense List
                    </a>
                </li>

            </ul>
        </div>

    </li>


    <!-- REPORTS -->
    <li class="nav-item">

        <a class="nav-link d-flex justify-content-between align-items-center"
        data-bs-toggle="collapse"
        href="#reportMenu">

            Reports
            <span class="arrow">▾</span>
        </a>

        <div class="collapse" id="reportMenu">
            <ul class="nav flex-column sub-menu">

                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Sales Report
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Product Report
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Revenue vs Expense
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Inventory Report
                    </a>
                </li>

            </ul>
        </div>

    </li>

</ul>