{% load navigation_tags %}
<div class="sidebar">
    <!-- SIDEBAR -->
    <ul class="nav flex-column sidebar-nav">

        <!-- Dashboard -->
        <li class="nav-item">
            <a class="nav-link {% active 'dashboard' %}" href="{% url 'dashboard' %}">
                Dashboard
            </a>
        </li>

        <!-- INVENTORY -->
        <li class="nav-item">

            <a class="nav-link d-flex justify-content-between align-items-center"
            data-bs-toggle="collapse"
            href="#inventoryMenu">
                Inventory
                <span class="arrow">▾</span>
            </a>

            <div class="collapse {% show_menu 'add_product' 'product_list' 'product_categories' 'stock_movements' %}" id="inventoryMenu">
                <ul class="nav flex-column sub-menu">

                    <li class="nav-item">
                        <a class="nav-link {% active 'add_product' %}" href="{% url 'add_product' %}">
                            Add Products
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link {% active 'product_list' %}" href="{% url 'product_list' %}">
                            Product List
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link {% active 'product_categories' %}" href="{% url 'product_categories' %}">
                            Manage Categories
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link {% active 'stock_movements' %}" href="{% url 'stock_movements' %}">
                            Stock Movements
                        </a>
                    </li>

                </ul>
            </div>

        </li>

        <!-- PURCHASE -->
        <li class="nav-item">

            <a class="nav-link d-flex justify-content-between align-items-center"
            data-bs-toggle="collapse"
            href="#purchaseMenu"
            role="button">
                Purchase
                <span class="arrow">▾</span>
            </a>

            <div class="collapse {% show_menu 'add_purchase' 'purchase_list' %}" id="purchaseMenu">
                <ul class="nav flex-column sub-menu">

                    <li class="nav-item">
                        <a class="nav-link {% active 'add_purchase' %}" href="{% url 'add_purchase' %}">
                            Add Purchase
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link {% active 'purchase_list' %}" href="{% url 'purchase_list' %}">
                            Purchase History
                        </a>
                    </li>

                </ul>
            </div>

        </li>

        <!-- SALES -->
        <li class="nav-item">

            <a class="nav-link d-flex justify-content-between align-items-center"
            data-bs-toggle="collapse"
            href="#salesMenu"
            role="button">
                Sales
                <span class="arrow">▾</span>
            </a>

            <div class="collapse {% show_menu 'create_sale' 'sales_list' %}" id="salesMenu">
                <ul class="nav flex-column sub-menu">

                    <li class="nav-item">
                        <a class="nav-link {% active 'create_sale' %}" href="{% url 'create_sale' %}">
                            Create Sale
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link {% active 'sales_list' %}" href="{% url 'sales_list' %}">
                            Sales History
                        </a>
                    </li>

                </ul>
            </div>

        </li>

        <!-- Expense -->
        <li class="nav-item">

            <a class="nav-link d-flex justify-content-between align-items-center"
            data-bs-toggle="collapse"
            href="#financeMenu">
                Expense
                <span class="arrow">▾</span>
            </a>

            <div class="collapse {% show_menu 'add_expense' 'expense_categories' 'expense_list' %}" id="financeMenu">
                <ul class="nav flex-column sub-menu">
                    
                    <li class="nav-item">
                        <a class="nav-link {% active 'add_expense' %}" href="{% url 'add_expense' %}">
                            Add Expense
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link {% active 'expense_categories' %}" href="{% url 'expense_categories' %}">
                            Manage Categories
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link {% active 'expense_list' %}" href="{% url 'expense_list' %}">
                            Expense History
                        </a>
                    </li>

                </ul>
            </div>

        </li>


        <!-- REPORTS -->
        <li class="nav-item">

            <a class="nav-link d-flex justify-content-between align-items-center"
            data-bs-toggle="collapse"
            href="#reportMenu">

                Reports
                <span class="arrow">▾</span>
            </a>

            <div class="collapse {% show_menu 'sales_report' 'product_report' 'revenue_exp_report' 'inventory_report' %}" id="reportMenu">
                <ul class="nav flex-column sub-menu">

                    <li class="nav-item">
                        <a class="nav-link {% active 'sales_report' %}" href="{% url 'sales_report' %}">
                            Sales Report
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link {% active 'product_report' %}" href="{% url 'product_report' %}">
                            Product Report
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link {% active 'revenue_exp_report' %}" href="{% url 'revenue_exp_report' %}">
                            Revenue vs Expense
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link {% active 'inventory_report' %}" href="{% url 'inventory_report' %}">
                            Inventory Report
                        </a>
                    </li>

                </ul>
            </div>

        </li>

    </ul>

</div