{% extends "base.html" %}
{% load static %}

{% block page_title %}Expense Categories{% endblock %}
{% block css_files%}
    <link rel="stylesheet" href="{% static 'css/apps/list.css' %}">
{% endblock %}

{% block content %}

<div class="container-fluid">

    <!-- PAGE HEADER -->
    <div class="d-flex justify-content-between align-items-center mb-4">
        <div>
            <h3 class="section-title mb-0">Expense Categories</h3>
            <small class="text-muted">All recorded expense Categories</small>
        </div>

        {% comment %} <a href="{% url 'add_expense' %}" class="btn btn-primary">
            + Add Expense
        </a> {% endcomment %}
    </div>


    <!-- FILTER BAR -->
    <div class=" mb-4 p-3">
        <div class="row g-3">

            <div class="col-md-4">
                <input type="text"
                       class="form-control"
                       placeholder="Search Category...">
            </div>

            <div class="col-md-3">
                <input type="date" class="form-control">
            </div>

            <div class="col-md-2">
                <button class="btn btn-soft w-100">
                    Filter
                </button>
            </div>

        </div>
    </div>


    <!-- SALES TABLE -->
    <div class="">

        <div class="table-responsive">

            <table class="table table-hover align-middle data-table mb-0">

                <thead>
                    <tr>
                        <th>#</th>
                        <th>Category Name</th>
                        <th>Description</th>
                        <th>Created At</th>
                    </tr>
                </thead>

                <tbody>

                    {% for category in categories %}

                    <tr>

                        <td>{{ forloop.counter }}</td>

                        <td>
                            {{ category.name }}
                        </td>

                        <td>
                            {% if category.description %}
                                {{ category.description|truncatechars:50 }}
                            {% else %}
                                No description provided
                            {% endif%}
                        </td>

                        <td>
                            {{ category.created_at|date }}
                        </td>
                        
                    </tr>
                

                    {% empty %}

                    <tr>
                        <td colspan="7" class="text-center py-4 text-muted">
                            No category recorded
                        </td>
                    </tr>

                    {% endfor %}

                </tbody>

            </table>

        </div>

    </div>

</div>

{% endblock %}