{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load format_number %}

{% block page_title %}All Recorded Expense{% endblock %}
{% block css_files%}
    <link rel="stylesheet" href="{% static 'css/apps/list.css' %}">
{% endblock %}

{% block content %}

<div class="container-fluid card-bg gap-bottom">

    <!-- PAGE HEADER -->
    <div class="d-flex justify-content-between align-items-center mb-4">
        <div>
            <h3 class="section-title mb-0">All Recorded Expense</h3>
            <small class="text-muted">All recorded expense transactions</small>
        </div>

        <a href="{% url 'add_expense' %}" class="btn btn-secondary">
            + Add Expense
        </a>
    </div>


    <!-- FILTER BAR -->
    <div class=" mb-4 p-3">
        <div class="row g-3">

            <div class="col-md-4">
                <input type="text" id="search_field"
                       class="form-control form-control-sm"
                       placeholder="Search expense...">
            </div>

            <div class="col-md-3">
                <input id="date_field" type="date" class="form-control form-control-sm">
            </div>

            <div class="col-md-2">
                <button id="reset_filters" class="btn btn-sm btn-light border w-100">
                    Reset Filters
                </button>
            </div>

            <div id="searchLoader" class="ms-2 mt-3 d-flex align-items-center d-none">
                <div class="spinner-border spinner-border-sm text-primary me-2" role="status"></div>
                <small class="text-muted">Loading...</small>
            </div>

        </div>
    </div>


    <!-- SALES TABLE -->
    <div class="">

        <div class="table-responsive">

            <table class="table table-hover align-middle data-table mb-0">

                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Category</th>
                        <th>Amount</th>
                    </tr>
                </thead>

                <tbody id="tbody">

                    {% for expense in expenses %}

                    <tr class="clickable-row" data-url="{% url 'expense_detail' expense.id %}">

                        <td>{{ forloop.counter }}</td>

                        <td>
                            {{ expense.name }}
                        </td>

                        <td>{{ expense.expense_date }}</td>

                        <td>
                            <span class="badge-soft badge-success">
                                {{ expense.category }}
                            </span>
                        </td>

                        <td class="fw-semibold">
                            ₹ {{ expense.amount|floatformat:0|format_number }}
                        </td>
                        
                    </tr>
                

                    {% empty %}

                    <tr>
                        <td colspan="7" class="text-center py-4 text-muted">
                            No Expense recorded
                        </td>
                    </tr>

                    {% endfor %}

                </tbody>

            </table>

        </div>

    </div>

</div>

{% endblock %}

{% block scripts %}
    <script type="module" src="{% static 'js/expense/expense_filters.js' %}"></script>
{% endblock %}