
{% extends "business/base.html" %}
{% load static %}

{% block page_title %}Create a Business{% endblock %}
{% block css_files%}
{% endblock %}
{% block content %}
<div class="card auth-card p-4" style="max-width: 700px">

    <!-- Header -->
    <div class="text-center mb-4">
        <h3 class="section-title">Create a Business</h3>
        <small class="text-muted">
            Set up your business to start managing inventory and sales
        </small>
    </div>

    <!-- Form -->
    <form method="POST" id="businessForm">
        {% csrf_token %}

        <div class="row mb-3">
            <!-- Business Name -->
            <div class="col-6">
                <label class="form-label">Business Name</label>
                {{ form.name }}
                {{ form.name.erros }}
            </div>

            <!-- Business Type -->
            <div class="col-6">
                <label class="form-label">Business Type</label>
                {{ form.business_type }}
                {{ form.business_type.errors }}
            </div>

        </div>

        <div class="row mb-3">
            <!-- Phone -->
            <div class="col-6">
                <label class="form-label">Phone Number</label>
                {{ form.phone }}
                {{ form.phone.errors }}
            </div>

            <!-- Email -->
            <div class="col-6">
                <label class="form-label">Business Email</label>
                {{ form.email }}
                {{ form.email.errors }}
            </div>

        </div>

        <!-- Address -->
        <div class="mb-3">
            <label class="form-label">Address</label>
            {{ form.address }}
            {{ form.address.errors }}
            {% comment %} <textarea name="address" rows="3" class="form-control"
                      placeholder="Enter business address"></textarea> {% endcomment %}
        </div>

        <!-- Errors -->
        {% if form.non_field_errors %}
            <div class="alert alert-danger py-2">
                {% for error in form.non_field_errors %}
                    <div>{{ error }}</div>
                {% endfor %}
            </div>
        {% endif %}

        <!-- Submit -->
        <button type="submit" id="submitBtn" class="btn btn-primary w-100">
            Create Business
        </button>

    </form>

    <!-- Optional Footer -->
    <p class="text-center mt-3 mb-0">
        {% comment %} <a href="{% url 'logout' %}" class="text-muted">Logout</a> {% endcomment %}
    </p>

</div>


{% endblock %}


{% block scripts %}
    <!-- Script -->
    <script>
        document.getElementById("businessForm").addEventListener("submit", function () {
            const btn = document.getElementById("submitBtn");
            btn.disabled = true;
            btn.innerText = "Creating...";
        });
    </script>
{% endblock %}
