
/* ===============================
   NAVBAR
=================================*/
.custom-navbar {
    height: var(--nav-height);
    background: var(--clr-bg-main);
    border-bottom: 1px solid var(--clr-border);
    padding: 0 32px;
}

.navbar-brand {
    font-weight: 700;
    color: var(--clr-primary);
    letter-spacing: 0.5px;
}

.search-input {
    background: var(--clr-primary-soft);
    border: none;
    border-radius: 10px;
    padding-left: 18px;
    height: 40px;
}

.search-input:focus {
    box-shadow: none;
    background: #ffffff;
}

/* ===============================
   LAYOUT STRUCTURE
=================================*/
.app-layout {
    display: flex;
    height: calc(100vh - var(--nav-height));
}

/* ===============================
   SIDEBAR
=================================*/
.sidebar {
    width: 230px;
    height: calc(100vh - var(--nav-height));
    overflow-x: hidden;
    overflow-y: auto;
}

.sidebar-nav{
    padding: 10px 15px;
}
.sidebar-nav .nav-link {
    font-weight: 600;
    color: var(--clr-text-medium);
    border-radius: 10px;
    padding: 10px 14px;
    margin: 5px 0;
}

.sidebar-nav .nav-link:hover,
.sidebar-nav .active {
    background: var(--clr-primary-soft);
    color: var(--clr-primary);
}

.sub-menu {
    padding-left: 12px;
}

.sub-menu .nav-link {
    font-size: 14px;
    padding: 8px 14px;
}

.arrow {
    font-size: 16px;
    opacity: 0.6;
}


/* ===============================
   CONTENT AREA
=================================*/
.content-area {
    flex: 1;
    background: var(--clr-bg-content);
    padding: 32px;
    overflow-y: auto;
}

/* Empty placeholder block */
.content-placeholder {
    background: #ffffff;
    border-radius: var(--radius);
    box-shadow: var(--shadow-soft);
    min-height: 100%;
    padding: 20px 40px;
}

/* ===============================
   ADMIN DROPDOWN
=================================*/

.admin-btn {
    background: var(--clr-primary-soft);
    border: none;
    border-radius: 30px;
    padding: 6px 14px;
    font-weight: 500;
    color: var(--clr-primary);
}

.admin-btn:hover {
    background: #ffffff;
    box-shadow: var(--shadow-soft);
}

.admin-btn:focus {
    box-shadow: none;
}

.avatar {
    width: 32px;
    height: 32px;
    background: var(--clr-primary);
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.custom-dropdown {
    border-radius: 14px;
    border: 1px solid var(--clr-border);
    padding: 8px;
    min-width: 180px;
}

.custom-dropdown .dropdown-item {
    border-radius: 8px;
    padding: 8px 12px;
    font-weight: 500;
}

.custom-dropdown .dropdown-item:hover {
    background: var(--clr-primary-soft);
    color: var(--clr-primary);
}