{% extends "base.html" %}
{% load static %}

{% block page_title %}Sales{% endblock %}
{% block css_files%}
    <link rel="stylesheet" href="{% static 'css/apps/form.css' %}">
{% endblock %}

{% block content %}
    <div class="container-fluid">

        <!-- ================= HEADER ================= -->
        <div class="d-flex justify-content-between align-items-center mb-4">
            <div>
                <h3 class="fw-bold mb-1">Create New Sale</h3>
                <small class="text-muted">Record a new sale</small>
            </div>
                <a href="{% url 'sales_list' %}" class="btn btn-secondary">
                View Sales List 
            </a>
        </div> 

        <!-- ================= TRANSACTION HEADER ================= -->
        <form method="post" id="saleForm">
            {% csrf_token %}
            <div class="card custom-card p-4 mb-4 transaction-header">

                <div class="row align-items-end justify-content-center">

                    <div class="col-lg-6 mb-3">
                        <label class="form-label">Customer</label>
                        <div class="d-flex align-items-center gap-2">
                            <div class="flex-grow-1">
                                {{ form.customer }}
                            </div>
                            <button id="add-customer" type="button" class="btn btn-secondary">
                                + New Customer
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-3 mb-3">
                        <label class="form-label">Sale Date</label>
                        {{ form.sale_date }}
                    </div>

                    <div class="col-lg-3 mb-3">
                        <label class="form-label">Payment Method</label>
                        {{ form.payment_method }}
                    </div>

                </div>
                
            </div>


            <!-- ================= MAIN ROW ================= -->
            <div class="row">

                <!-- ================= ITEMS TABLE ================= -->
                <div class="col-lg-8">

                    <div class="card custom-card p-4 mb-4">

                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h5 class="section-title mb-0">Sale Items</h5>
                            <button id="add-product" type="button" class="btn btn-sm btn-secondary">
                                + Add Product
                            </button>
                        </div>

                        {{ formset.management_form }}

                        <div class="table-responsive">
                            <table class="table align-middle data-table">
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th width="100">Qty</th>
                                        <th width="80">Unit</th>
                                        <th width="110">Unit Price (₹)</th>
                                        <th width="120">Total (₹)</th>
                                        <th width="10"></th>
                                    </tr>
                                </thead>

                                <tbody id="sale-items">

                                    {% for form in formset %}
                                    <tr class="sale-row">
                                        <td>{{ form.product }}</td>
                                        <td>{{ form.quantity }}</td>
                                        <td><input value="" type="text" class="readonly unit" readonly></td>
                                        <td><input value="0.00" type="text" class="readonly price" readonly></td>
                                        <td class="row-total text-muted">
                                            <input value="0.00" type="text" class="readonly product-total" readonly>
                                        </td>
                                        <td class="text-center">
                                            
                                        </td>
                                    </tr>
                                    {% endfor %}

                                    <!-- Empty Template -->
                                    <tr id="empty-form" class="sale-row" style="display: none;">
                                        <td>{{ formset.empty_form.product }}</td>
                                        <td>{{ formset.empty_form.quantity }}</td>
                                        <td><input value="" type="text" class="readonly unit" readonly></td>
                                        <td><input value="0.00" type="text" class="readonly price" readonly></td>
                                        <td class="row-total text-muted">
                                            <input value="0.00" type="text" class="readonly product-total" readonly>
                                        </td>
                                        <td class="text-center">
                                            <button type="button" class="btn btn-sm text-danger remove-product p-0">
                                                ✕
                                            </button>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <!-- Dislpay Errors -->
                        <div class="error-msg text-danger">
                            {% for errors in form.errors.values %}
                                {% for error in errors %}
                                    {{ error }}
                                {% endfor %}
                            {% endfor %}

                            {% for item in formset %}
                                {% for errors in item.errors.values %}
                                    {% for error in errors %}
                                        {{ error }}
                                    {% endfor %}
                                {% endfor %}
                            {% endfor %}
                           
                        </div>

                    </div>

                </div>
        </form>


            <!-- ================= SUMMARY PANEL ================= -->
            <div class="col-lg-4">

                <div class="card custom-card p-4 summary-card border-left">

                    <h5 class="section-title mb-4">Summary</h5>

                    <div class="d-flex justify-content-between mb-2">
                        <span class="text-muted">Subtotal</span>
                        <span class="fw-semibold" id="sub_total">₹ 0.00.00</span>
                    </div>

                    <div class="d-flex justify-content-between mb-3">
                        <span class="text-muted">Discount</span>
                        <span class="fw-semibold text-success">₹ 0.00</span>
                    </div>

                    <hr>

                    <div class="d-flex justify-content-between align-items-center mt-3">
                        <span class="fw-bold">Total</span>
                        <span class="grand-total"  id="grand_total">₹ 0.00</span>
                    </div>

                    <button type="submit"
                            form="saleForm"
                            class="btn btn-primary w-100 mt-4 py-2">
                        Create Sale
                    </button>

                </div>

            </div>

        </div>

    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/sales/create_sale.js' %}"></script>
{% endblock %}

