{% extends "base.html" %}
{% load static %}

{% block page_title %}Add New Purchase{% endblock %}
{% block css_files%}
    <link rel="stylesheet" href="{% static 'css/apps/form.css' %}">
{% endblock %}

{% block content %}
    <div class="container-fluid card-bg gap-bottom">

        <!-- ================= HEADER ================= -->
        <div class="d-flex justify-content-between align-items-center mb-4">
            <div>
                <h3 class="fw-bold mb-1">Add New Purchase</h3>
                <small class="text-muted">Record a new purchase</small>
            </div>
                {% comment %} <a href="{% url 'sales_list' %}" class="btn btn-secondary">
                View Purchase History 
            </a> {% endcomment %}
        </div> 

        <!-- ================= TRANSACTION HEADER ================= -->
        <form method="post" id="purchaseForm">
            {% csrf_token %} 

            <div class="row transaction-header align-items-end custom-gap gap-bottom">

                <!-- Supplier Name Search -->
                <div class="col-lg-8">
                    <div class="card simple-card p-4">
                        <div class="row">
                            <div class="col-lg-7">
                                <label class="form-label">Supplier Name*</label>

                                <div class="position-relative">
                                    {{ supplier_form.name}}
                                    {{ supplier_form.name.errors}}

                                    <!-- Hidden supplier id -->
                                    <input type="hidden"
                                        id="supplier-id"
                                        name="supplier_id" value="">

                                    <!-- Search Results -->
                                    <div id="supplier-suggestions"
                                        class="suggestion-results"></div>

                                </div>
                            </div>

                            <!-- Phone -->
                            <div class="col-lg-5">
                                <label class="form-label">Phone*</label>

                                {{ supplier_form.phone }}
                                {{ supplier_form.phone.errors }}
                            </div>
                        </div>
                    
                        <div class="row mt-3">

                            <!-- Email -->
                            <div class="col-lg-5">
                                <label class="form-label">Email</label>
                                {{ supplier_form.email }}
                                {{ supplier_form.email.errors }}
                            </div>

                            <!-- Address -->
                            <div class="col-lg-7">
                                <label class="form-label">Address</label>
                                {{ supplier_form.address }}
                                {{ supplier_form.address.errors }}
                            </div>
                        </div>
                    </div>
                </div>
            
                <div class="col-lg-4">
                    <div class="card simple-card p-4">

                        <!-- Purchase Date -->
                        <div class="row">
                            <label class="form-label">Purchase Date</label>
                            {{ purchase_form.purchase_date }}
                            {{ purchase_form.purchase_date.errors }}
                        </div>

                        <!-- Payment Method -->
                        <div class="row mt-3">
                            <label class="form-label">Payment Method</label>
                            {{ purchase_form.payment_method }}
                            {{ purchase_form.payment_method.errors }}
                        </div>
                    </div>

                </div>

            </div>


            <!-- ================= MAIN ROW ================= -->
            <div class="row custom-gap">

                <!-- ================= ITEMS TABLE ================= -->
                <div class="col-lg-8">

                    <div class="card simple-card p-4 mb-4">

                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h5 class="section-title mb-0">Purchase Items</h5>
                            <button id="add-product" type="button" class="btn btn-sm btn-secondary">
                                + Add Product
                            </button>
                        </div>

                        {{ formset.management_form }}

                        <div class="table-responsive">
                            <table class="table align-middle data-table">
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th width="100">Qty</th>
                                        <th width="80">Unit</th>
                                        <th width="110">Unit Cost (₹)</th>
                                        <th width="120">Total (₹)</th>
                                        <th width="10"></th>
                                    </tr>
                                </thead>

                                <tbody id="purchase-items">

                                    {% for form in formset %}
                                    <tr class="purchase-row">
                                        <td>{{ form.product }}</td>
                                        {{ form.product.errors }}
                                        <td>{{ form.quantity }}</td>
                                        {{ form.quantity.errors }}
                                        <td><input value="" type="text" class="readonly unit" readonly></td>
                                        <td>{{ form.unit_cost }}</td>
                                        {{ form.unit_cost.errors }}
                                        <td class="row-total text-muted">
                                            <input value="0.00" type="text" class="readonly product-total" readonly>
                                        </td>
                                        <td class="text-center">
                                            
                                        </td>
                                    </tr>
                                    {% endfor %}

                                    <!-- Empty Template -->
                                    <tr id="empty-form" class="purchase-row" style="display: none;">
                                        <td>{{ formset.empty_form.product }}</td>
                                        {{ formset.empty_form.product.errors }}
                                        <td>{{ formset.empty_form.quantity }}</td>
                                        {{ formset.empty_form.quantity.errors }}
                                        <td><input value="" type="text" class="readonly unit" readonly></td>
                                        <td>{{ formset.empty_form.unit_cost }}</td>
                                        {{ formset.empty_form.unit_cost.errors }}
                                        <td class="row-total text-muted">
                                            <input value="0.00" type="text" class="readonly product-total" readonly>
                                        </td>
                                        <td class="text-center">
                                            <button type="button" class="btn btn-sm text-danger remove-product p-0">
                                                ✕
                                            </button>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <!-- Dislpay Errors -->
                        <div class="error-msg text-danger">
                            {% for error in purchase_form.non_field_errors %}
                                {{ error }}
                            {% endfor %}
                           
                        </div>

                    </div>

                </div>



                <!-- ================= SUMMARY PANEL ================= -->
                <div class="col-lg-4">

                    <div class="card simple-card p-4 summary-card border-left">

                        <h5 class="section-title mb-4">Summary</h5>

                        <div class="d-flex justify-content-between mb-2">
                            <span class="text-muted">Subtotal</span>
                            <span class="fw-semibold" id="sub_total">₹ 0.00</span>
                        </div>

                        <div class="d-flex justify-content-between mb-3">
                            <span class="text-muted">Discount</span>
                            <span class="fw-semibold text-success">₹ 0.00</span>
                        </div>

                        <hr>

                        <div class="d-flex justify-content-between align-items-center mt-3">
                            <span class="fw-bold">Total</span>
                            <span class="grand-total"  id="grand_total">₹ 0.00</span>
                        </div>

                        <button type="submit"
                                form="purchaseForm"
                                class="btn btn-primary w-100 mt-4 py-2">
                            Save Purchase
                        </button>

                    </div>

                </div>

            </div>

        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/purchase/add_purchase.js' %}"></script>
    <script src="{% static 'js/purchase/supplier_suggestions.js' %}"></script>
{% endblock %}

