{% extends "base.html" %}
{% load static %}

{% block page_title %}Purchase Details{% endblock %}
{% block css_files%}
    <link rel="stylesheet" href="{% static 'css/apps/list.css' %}">
{% endblock %}
{% block content %}

    <div class="container-fluid p-1">

        <!-- PAGE HEADER -->
        <div class="d-flex justify-content-between align-items-center mb-4">
            <div>
                <h3 class="section-title mb-0">Purchase Details (#{{ purchase.id }})</h3>
                <small class="text-muted">Transaction information</small>
            </div>

            <a href="{% url 'purchase_list' %}" class="btn btn-secondary">
                Back to List
            </a>
        </div>


        <!-- PURCHASE INFORMATION -->
        <div class="card-soft border-left mb-4 p-4">

            <h5 class="mb-3">Purchase Information</h5>

            <div class="row">

                <div class="col-md-4">
                    <p class="text-muted mb-1">Supplier</p>
                    <p class="text-semibold">
                        {{ purchase.supplier.name }}
                    </p>
                </div>

                <div class="col-md-4">
                    <p class="text-muted mb-1">purchase Date</p>
                    <p class="text-semibold">{{ purchase.purchase_date }}</p>
                </div>

                <div class="col-md-4">
                    <p class="text-muted mb-1">Payment Method</p>
                    <p class="text-semibold">{{ purchase.payment_method|upper }}</p>
                </div>

            </div>

        </div>


        <!-- PRODUCTS BOUGHT -->
        <div class="mb-4">

            <div class="p-3 border-bottom">
                <h5 class="mb-0">Products Bought</h5>
            </div>

            <div class="table-responsive">

                <table class="table table-hover align-middle data-table mb-0">

                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Product</th>
                            <th>Unit</th>
                            <th>Quantity</th>
                            <th>Cost</th>
                            <th>Total</th>
                        </tr>
                    </thead>

                    <tbody>

                        {% for item in purchase.items.all %}

                        <tr>

                            <td>{{ forloop.counter }}</td>
                            <td>{{ item.product.name }}</td>
                            <td>{{ item.unit }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>₹ {{ item.unit_cost }}</td>
                            <td class="text-semibold">₹ {{ item.item_total_cost }}</td>

                        </tr>

                        {% endfor %}

                    </tbody>

                </table>

            </div>

        </div>


        <!-- SUMMARY -->
        <div class="custom-card p-4">

            <h5 class="mb-3">Summary</h5>

            <div class="d-flex justify-content-between mb-2">
                <span class="text-semibold">Total Amount</span>
                <span class="text-semibold">₹ {{ purchase.total_amount }}</span>
            </div>

            {% comment %} <div class="d-flex justify-content-between">
                <span class="text-semibold">Total Profit</span>
                <span class="text-success text-semibold">
                    ₹ {{ sale.total_profit }}
                </span>
            </div> {% endcomment %}

        </div>

    </div>


{% endblock %}