/* CSS FOR SIGN UP AND BUSINESS FORMS */
.content {
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.auth-card {
    width: 100%;
    padding: 30px 40px;
    min-width: 700px;
    border-radius: var(--radius);
    box-shadow:
      0 4px 10px rgba(0,0,0,0.03);
}

.section-title {
    font-weight: 600;
}

.two-field-container {
    display: flex;
}

.password-toggle {
    position: relative;
}

.toggle-icon {
    position: absolute;
    bottom: 7px;
    right: 20px;
    /* transform: translateY(-50%); */
    cursor: pointer;
    color: #888;
}

.anchor-text {
    color: var(--clr-primary);
    transition: color 0.5s ease;
}

.anchor-text:hover {
    color: var(--clr-primary-hover);
}


/* SELECT BUSINESS PAGE */

.container-box {
    max-width: 900px !important;
    width: 100vw;
    margin: auto;
    background-color: var(--clr-bg-card-soft);
    border-radius: var(--radius);
    padding: 30px 40px;
    border: 1px solid var(--clr-border);
}

.business-card {
    border-radius: var(--radius);
    padding: 25px;
    background: var(--clr-bg-card);
    box-shadow:
      0 4px 10px rgba(0,0,0,0.03);
    transition: all 0.2s ease;
    cursor: pointer;
    height: 100%;
    border: 1px solid var(--clr-border-light);
}

.business-card:hover {
    transform: translateY(-4px);
    box-shadow:
      0 6px 14px rgba(0,0,0,0.03);
}

.business-name {
    font-weight: 600;
    font-size: 1.1rem;
}

.badge-role {
    font-size: 0.75rem;
}

.create-card {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border: 2px dashed #ccc;
    box-shadow:
      0 4px 10px rgba(0,0,0,0.03);
}

.create-card:hover {
    border-color: #0d6efd;
    color: #0d6efd;
}

.card-link {
    text-decoration: none;
    color: inherit;
}

/* Profile page */

.user-img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 0;
}

.user-img div {
    background-color: var(--clr-primary);
    width: 100px;
    height: 100px;
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: #fff;
}

/* User Profile */
.container {
    margin-top: 95px;
}
