{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load format_number %}

{% block page_title %}Dashboard{% endblock %}
{% block css_files%}
    <link rel="stylesheet" href="{% static 'css/apps/dashboard.css' %}">
{% endblock %}

{% block content %}

<div class="container-fluid dashboard-page">

    <!-- DASHBOARD HEADER -->
    <div class="d-flex justify-content-between align-items-center mb-5 m-2 pt-2">
        <div>
            <h3 class="section-title mb-0">Dashboard</h3>
            <small class="text-muted">Business overview and analytics</small>
        </div>

        <div class="d-flex gap-2">
            <select id="yearFilter" class="form-select form-select-sm">
                <option value="2026">2026</option>
                <option value="2025">2025</option>
                <option value="2024">2024</option>
            </select>

            {% comment %} <select id="monthFilter" class="form-select form-select-sm">
                <option value="">All Months</option>
                <option value="1">January</option>
                <option value="2">February</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
            </select> {% endcomment %}
        </div>
    </div>


    <!-- KPI CARDS -->
    <div class="row g-3 gap-bottom">

        <div class="col-md-3 mt-0">
            <div class="card-soft report-card p-3 border-left">
                <p class="card-label">Revenue</p>
                <h4 id="cardRevenue" class="card-value">₹{{ summary.total_revenue|floatformat:0|format_number }}</h4>
            </div>
        </div>

        <div class="col-md-3 mt-0">
            <div class="card-soft report-card p-3 border-left">
                <p class="card-label">Expenses</p>
                <h4 id="cardExpenses" class="card-value text-danger">₹ {{ summary.total_exps|floatformat:0|format_number }}</h4>
            </div>
        </div>

        <div class="col-md-3 mt-0">
            <div class="card-soft report-card p-3 border-left">
                <p class="card-label">Net Profit</p>
                <h4 id="cardProfit" class="card-value text-success">₹ {{ summary.net_profit|floatformat:0|format_number }}</h4>
            </div>
        </div>

        <div class="col-md-3 mt-0">
            <div class="card-soft report-card p-3 border-left">
                <p class="card-label">Total Sales</p>
                <h4 id="cardTotalSales" class="card-value">{{ summary.total_sales|floatformat:0|format_number }}</h4>
            </div>
        </div>

    </div>


    <!-- REVENUE VS EXPENSE CHART -->
    <div class="custom-card p-4 gap-bottom">

        <div class="d-flex justify-content-between align-items-center mb-3">
            <h5 class="mb-0">Revenue vs Expense</h5>
        </div>

        <div id="revenueExpenseChart" height="100"></div>
        {{ rev_exp_trend.labels|json_script:"rev_exp_trend_labels" }}
        {{ rev_exp_trend.revenue|json_script:"rev_data" }}
        {{ rev_exp_trend.expense|json_script:"exp_data" }}
    </div>

    <!-- TOP PRODUCTS + EXPENSE BREAKDOWN -->
    <div class="row g-3 gap-bottom">

        <div class="col-md-6">

            <div class="custom-card p-4">

                <h5 class="mb-3">Top Selling Products</h5>

                <div id="topProductsChart"></div>
                
                {{ top_selling_products.labels|json_script:"top_products_labels" }}
                {{ top_selling_products.data|json_script:"top_products_data" }}

            </div>

        </div>


        <div class="col-md-6">

            <div class="custom-card p-4">

                <h5 class="mb-3">Expense Breakdown</h5>

                <div id="expenseBreakdownChart"></div>
                
                {{ exp_breakdown.labels|json_script:"exp_breakdown_labels" }}
                {{ exp_breakdown.data|json_script:"exp_breakdown_data" }}
                

            </div>

        </div>

    </div>

        <!-- MONTHLY PROFIT -->
    <div class="custom-card p-4 gap-bottom">

        <h5 class="mb-3">Monthly Profit</h5>

        <div id="profitTrendChart"></div>
                
        {{ profit_trend.labels|json_script:"profit_trend_labels" }}
        {{ profit_trend.data|json_script:"profit_trend_data" }}

    </div>

    
    <!-- SALES TREND + EXPENSE BREAKDOWN -->
    <div class="row g-3 gap-bottom">

        <div class="col-md-6">

            <div class="custom-card p-4">

                <h5 class="mb-3">Sales Trend</h5>

                <div id="salesTrendChart"></div>
                        
                {{ sales_trend.labels|json_script:"sales_trend_labels" }}
                {{ sales_trend.data|json_script:"sales_trend_data" }}

            </div>

        </div>


        <div class="col-md-6">

            <div class="custom-card p-4">

                <h5 class="mb-3">Sales by Category</h5>

                <div id="categorySalesChart"></div>
                
                {{ top_categories.labels|json_script:"category_labels" }}
                {{ top_categories.data|json_script:"category_data" }}
                

            </div>

        </div>

    </div>

</div>

{% endblock %}


{% block scripts %}

<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script type="module" src="{% static 'js/dashboard/dashboard.js' %}"></script>

{% endblock %}